html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    background: rgba(218, 60, 25, 0.808);
    min-height: calc(100vh - 100px);
    margin: 2rem;
    letter-spacing: -1px;
  }

  a{
      background-color: rgba(0, 0, 0, 0.04);
      text-align: center;
      margin: 1rem;
      padding: 0.1rem 0.2rem;
      display: inline-block;
      width: 100%;
      letter-spacing: 0.16rem;
      font-weight: 100;
      
  }
  .header {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
    margin: 0 auto;
    
  }
  .header h1 {
    padding: 20px;
  }

  .footer {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 1.1rem;
  }

  .toggle {
      display: none;
  }

  .navwrapper {
      max-width: 1000px;
      margin: 0 auto;
      margin-bottom: 0.5rem;
  }


  .navegacion ul {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.navegacion li {
    flex: 3;
}

.navegacion,
.social {
    flex: 1;
}

.navegacion a {
    text-decoration: none;
    color: white;

}

  .contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  .card {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
    color: white;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    grid-gap: 15px;
  }
  .card__imagen {
    width: 100%;
  }

  @media (min-width: 18.75em) and (max-width: 43.75em) {

    body{
        background: rgba(225,115,102, 0.836);
    }



    .card{
        display: flex;
        flex-direction: column;  
        text-align: center;
        background: rgba(229, 148, 130, 0.911);  
        border-radius: 51px;
        border: 0.2rem solid #9FD5D1;
    }
    /* .card{
        display: flex;
        flex-direction: column;  
        text-align: center;
        background: rgba(206, 125, 107, 0.808);  
        border-radius: 51px;
        border: 0.2rem solid #9FD5D1;
    } */

    .card:active,
    .card:focus {
            display: flex;
            flex-direction: column;  
            text-align: center;
            background: rgba(206, 125, 107, 0.808);  
            border-radius: 51px;
            border: 0.2rem solid #9FD5D1;
            box-shadow: inset 5px 5px 0px #698d8a,
            inset -5px -5px 0px #b5e4e4;
    }

    .card__imagen {
        width: 80%;

    }

    html{
        font-size: 0.9rem;
        font-weight: 700; 
        margin: 0 auto;     
    }


    .card__detalles h2 {
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }

    .card__detalles h3 {
        color: rgb(255, 255, 255, 0.9);
        text-decoration: none;
    }

    .card__detalles p {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: solid;
    }


    .wrapper {
        width: auto;
       
    }

    .navwrapper {
        display: flex;
        flex-direction: column;
    }


    .navegacion li {
        flex-basis: 100;
    }

    .toggle {
        display: block;
    }

    .navegacion ul {
        display: none;
    }

    .navegacion ul.open {
        display: flex;
    }


    .footer {
        width: auto;
    }

    .separator {
        border: 0.2rem solid  #9FD5D1;
    }

    .top {
        width: auto;
        height: 10rem;
        background: url(./assets/top.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 1rem;

    }



}

