html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 900;
    font-size: 0.8rem;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    background: rgba(225, 114, 102, 0.835);
    min-height: calc(100vh - 100px);
    margin: 2rem;
    letter-spacing: -1px;
  }

   a {
      background-color: rgba(0, 0, 0, 0.09);
      text-align: center;
      margin: 0 auto;
      padding: 1.3rem 0.2rem;
      display: inline-block;
      width: 100%;
      letter-spacing: 0.16rem;
      font-weight: 450;   
      height: 4rem;	  
  }


  a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }


  a:visited {
      background-color: rgba(0, 0, 0, 0.877);
    }
  

	  
  
  
  
  .header {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
    margin: 0 auto;
    
  }
  .header h1 {
    padding: 20px;
  }

  .footer {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  .toggle {
      display: none;
  }

  .navwrapper {
      max-width: 100vw;
      margin: 0 auto;
      margin-bottom: 0.5rem;
  }


  .navegacion ul {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.navegacion li {
    flex: 3;
}

.navegacion,
.social {
    flex: 1;
}

.navegacion a {
    text-decoration: none;
    color: white;

}

  .contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  .card {
    background: rgba(229, 148, 130, 0.911);  
    border: 0.2rem solid #9FD5D1;
    letter-spacing: 0.03rem;
    font-weight: 650;
    padding: 20px;
    border-radius: 8px;
    color: white;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    grid-gap: 15px;
  }
  
   .card:active,
   .card:focus {
            text-align: center;
            background: rgba(206, 125, 107, 0.808);  
            border-radius: 51px;
            border: 0.2rem solid #9FD5D1;
            box-shadow: inset 5px 5px 0px #698d8a,
            inset -5px -5px 0px #b5e4e4;
    }
  
  .card__imagen {
    width: 100%;
  }
  
  .card__detalles h2 {
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }

   .card__detalles h3 {
        color: rgb(255, 255, 255, 0.9);
        text-decoration: none;
    }

   .card__detalles p {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: solid;
    }
  

  .formulario {
    margin: 0 auto;
    display: flex;
	margin-top: 1.5rem;
    padding: 1.5rem;
    background: rgba(229, 148, 130, 0.911);  
    border: 0.2rem solid #9FD5D1;
    letter-spacing: 0.03rem;
    font-weight: 650;
	max-width: 35vw;

}

    .formulario__form {
        margin: 0 auto;
        display: flex;
        flex-direction: column;   
    }

    .formulario__form label {
        margin-bottom: 0.2rem;
        color: rgb(255, 255, 255, 0.9);
        text-decoration: none;
    }

    .formulario__form input {
        width: 230px;
        margin-bottom: 1rem;
        background: rgba(225, 114, 102, 0.315);
        color: rgba(255, 255, 255, 0.952);
        border: 0.2rem solid #9FD5D1;
        
    }



    .formulario__form h3 {
        text-align: center;
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }

    .outlineout {
        outline: 0;
    }
    
	
	textarea {
		background: rgba(225, 114, 102, 0.315);
        color: rgba(255, 255, 255, 0.952);
		resize: none;
		height: 15rem;
		margin-bottom: 1.5rem;
        border: 0.2rem solid #9FD5D1;
        outline: 0;

	}
	
	#enviar {
		width: 115px;
		height: 4rem;
		margin-left: 5rem;
        background: rgb(229, 148, 130);
        border: 0.2rem solid #9FD5D1;
	}

    #enviar:visited {
        background: rgba(161, 26, 11, 0.986);
	}

    .separator {
        border: 0.2rem solid  #9FD5D1;
    }


  @media (min-width: 18.75em) and (max-width: 43.75em) {

    body{
        background: rgba(225,115,102, 0.836);
    }

    a:active,
    a:visited {
        background-color: rgba(0, 0, 0, 0.2);
      }

    .card{
        display: flex;
        flex-direction: column;  
        text-align: center;
        background: rgba(229, 148, 130, 0.911);  
        border-radius: 51px;
        border: 0.2rem solid #9FD5D1;
        letter-spacing: 0.03rem;
        font-weight: 650;

    }

    .card:active,
    .card:focus {
            display: flex;
            flex-direction: column;  
            text-align: center;
            background: rgba(206, 125, 107, 0.808);  
            border-radius: 51px;
            border: 0.2rem solid #9FD5D1;
            box-shadow: inset 5px 5px 0px #698d8a,
            inset -5px -5px 0px #b5e4e4;
    }

    .card__imagen {
        width: 80%;

    }

    html{
        font-size: 0.9rem;
        font-weight: 700; 
        margin: 0 auto;     
    }


    .card__detalles h2 {
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }

    .card__detalles h3 {
        color: rgb(255, 255, 255, 0.9);
        text-decoration: none;
    }

    .card__detalles p {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: solid;
    }


    .wrapper {
        width: auto;
       
    }

    .navwrapper {
        display: flex;
        flex-direction: column;
    }


    .navegacion li {
        flex-basis: 100;
    }

    .toggle {
        display: block;
        width: auto;
    }

    .navegacion ul {
        display: none;
    }

    .navegacion ul.open {
        display: flex;
        margin: 0 auto;
        padding: 5px;
    }


    .footer {
        width: auto;
    }

    .separator {
        border: 0.2rem solid  #9FD5D1;
    }

    .top {
        width: auto;
        height: 10rem;
        background: url(./assets/top.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 1rem;

    }

    .header {
        letter-spacing: 0.1rem;
    }

    .formulario {
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        margin-top: 2rem;
        padding: 1.5rem;
        background: rgba(229, 148, 130, 0.911);  
        border: 0.2rem solid #9FD5D1;
        letter-spacing: 0.03rem;
        font-weight: 650;
    }

    .formulario__form {
        max-width: 300px;
        display: flex;
        flex-direction: column;   
    }

    .formulario__form label {
        margin-bottom: 0.2rem;
        color: rgb(255, 255, 255, 0.9);
        text-decoration: none;
    }

    .formulario__form input {
        width: 230px;
        margin-bottom: 1rem;
        background: rgba(225, 114, 102, 0.315);
        color: rgba(255, 255, 255, 0.952);

        
    }

    .formulario__form h3 {
        text-align: center;
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }
    
    .formulario__form #mensaje {
        height: 10rem;	
    }

    textarea {
		background: rgba(225, 114, 102, 0.315);
        color: rgba(255, 255, 255, 0.952);
		resize: none;
		height: 15rem;
		margin-bottom: 1.5rem;
        border: 0.2rem solid #9FD5D1;
        outline: 0;

	}

    #enviar {
		width: 115px;
		height: 4rem;
		margin-left: 4rem;
        background: rgb(229, 148, 130);
        border: 0.2rem solid #9FD5D1;
	}

	


}